/*Allows Lobster font*/
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v22/neILzCirqoswsqX9zoKmM4MwWJU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body{
    background-color: firebrick;
}
hr {
    border-color: coral;
}
h1.logoTxt{
    font-family: 'Lobster';
    color: antiquewhite;
    font-size: 4vw;
}
h1.logoTxt:hover{
    color:bisque;
}
h2{
    font-family: 'Lobster';
    color: antiquewhite;
    text-align: center;
    font-size: 3vw;
}
h3{
    font-family: 'Lobster';
    color: antiquewhite;
    text-align: center;
    font-size: 2.5vw;
}

label{
    font-size: 2vw;
}
select{
    background-color: antiquewhite;
    width: auto;
    height: auto;
}
[type="submit"]{
    background-color: antiquewhite;
    width: 9vw;
    height: 2vw;
    /*width: 15%;
    /*height: 100px;
    /*margin-right:5px;*/
    background-color: antiquewhite;
    border-radius: 10px;
    border: 4px solid bisque;

}
[type="submit"]:hover{
    border: 8px dashed coral;
    color: black;
}
a:hover{
    color:coral;
}

[type = "file"]{
    background-color: antiquewhite;
}
div.form{
    color: antiquewhite;
    text-align: center;
}
a {
    text-decoration: none;
    color: antiquewhite;
}
p.about{
    color: antiquewhite;
    text-align: center;
    font-size: 3vw;
}
button{
    margin: auto;
    display: block;
    background-color: antiquewhite;
}
#container {
    text-align: center;
    
}
button.lostButton{
    width: 15%;
    height: 100px;
    display:inline-block;
    margin-right:5px;
    background-color: antiquewhite;
    border-radius: 10px;
    border: 4px solid bisque;
}
.lostButton:hover {
    /*background-color: coral;*/
    border: 8px dashed coral;
    color: black;
}
button.foundButton{
    width: 15%;
    height: 100px;
    display:inline-block;
    margin-right:5px;
    background-color: antiquewhite;
    border-radius: 10px;
    border: 4px solid bisque;
}
.foundButton:hover {
    /*background-color: coral;*/
    border: 8px dashed coral;
    color: black;
}
#colorscheme:hover {
    background-color: antiquewhite;
    border: 1px dashed coral;
    color: black;
}
button.foundList{
    width: 10vw;
    height: 3vw;
    border-radius: 10px;
    border: 4px solid bisque;
    background-color: antiquewhite;
}
.foundList:hover {
    /*background-color: coral;*/
    border: 8px dashed coral;
    color: black;
}

div.searchResults{
    color: antiquewhite;
    border: 2px solid coral;
    padding: 2% 5%;
    margin: 5% 25%; 
}

div.searchResults table tr td{
    border: 1px dashed coral;
    padding: 2px 5px;
    
}

#formErrors{
    background-color: white;
    color: red;
}
ul{
    text-align: center;
    list-style-position: inside;
}
#colorscheme{
    float: right;
    border-radius: 10px;
    background: coral;
    border: 1px solid coral;
}

