/*Allows Lobster font*/
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v22/neILzCirqoswsqX9zoKmM4MwWJU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body{
    background-color: firebrick;
}
hr {
    border-color: coral;
}
h1.logoTxt{
    font-family: 'Lobster';
    color: antiquewhite;
}
h2, h3{
    font-family: 'Lobster';
    color: antiquewhite;
    text-align: center;
}
div.form{
    color: antiquewhite;
    text-align: center;
}
a {
    text-decoration: none;
    color: antiquewhite;
}
p.about{
    color: antiquewhite;
    text-align: center;
}
button{
    margin: auto;
    display: block;
}
#container {
    text-align: center;
}
button.lostButton{
    width: 100px;
    height: 50px;
    display:inline-block;
    margin-right:5px;
}
button.foundButton{
    width: 100px;
    height: 50px;
    display:inline-block;
    margin-right:5px;
}
div.searchResults{
    color: antiquewhite;
    border: 2px solid coral;
    padding: 2% 5%;
    margin: 5% 25%; 
}

div.searchResults table tr td{
    border: 1px dashed coral;
    padding: 2px 5px;
    
}

#formErrors{
    background-color: white;
    color: red;
}
ul{
    text-align: center;
    list-style-position: inside;
}
#colorscheme{
    float: right;
    background-color: coral;
}
